html, body{
	font-family: sans-serif;
	background-color: #222222 !important;
	color: white !important;
}
#users{
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	color: black;
}
footer{
	text-align: center;
}
.edit{
	color: blue;
}
.del{
	color: red;
}